</div>
<div class="box accordion">
<div class="box accordion form-horizontal">
    <div class="box-header toggle">
        <h3 class="box-title">
        	その他のサイト
            <svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body accpanel">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{ form.rakuten_url.vars.label }}</label>
            <div class="col-sm-8 col-lg-9">
				{{ form_widget(form.rakuten_url) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">{{ form.yahoo_url.vars.label }}</label>
            <div class="col-sm-8 col-lg-9">
				{{ form_widget(form.yahoo_url) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">{{ form.amazon_url.vars.label }}</label>
            <div class="col-sm-8 col-lg-9">
				{{ form_widget(form.amazon_url) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">{{ form.dena_url.vars.label }}</label>
            <div class="col-sm-8 col-lg-9">
				{{ form_widget(form.dena_url) }}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">{{ form.ponpare_url.vars.label }}</label>
            <div class="col-sm-8 col-lg-9">
				{{ form_widget(form.ponpare_url) }}
			</div>
		</div>
    </div>
</div>
